<configuration>
  <!-- <provider invariantName="System.Data.SQLite" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" /> -->
   <runtime>
      <gcServer enabled="true"/>
   </runtime>
  <connectionStrings>
    <add name="mysqlconn" connectionString="server=127.0.0.1;uid=QAEngine;password=ettasemmosta;database=qadatabase" providerName="MySql.Data.MySqlClient"/>
    <!-- <add name="Sqlite" connectionString="Data Source=database.db"/> -->
  </connectionStrings>
</configuration>
